Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

test: significantly increase frontend test coverage
  frontend/src/components/common/__tests__/ErrorMessage.test.jsx
  frontend/src/components/common/__tests__/VisuallyHidden.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

fix: resolve userEvent and mockNavigate issues in tests
  frontend/src/components/common/__tests__/ErrorMessage.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

test: fix async test issues and increase coverage
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

test: improve frontend test coverage and fix warnings
  frontend/src/components/GameImage.jsx
  frontend/src/components/__tests__/GameImage.test.jsx
  frontend/src/components/public/__tests__/GameCardPublic.test.jsx
  frontend/src/hooks/__tests__/useToast.test.js
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: frontend

test: add comprehensive tests for hooks and components
  frontend/src/components/onboarding/__tests__/HelpModal.test.jsx
  frontend/src/hooks/__tests__/useLazyLoad.test.js
  frontend/src/hooks/__tests__/useOnboarding.test.js
Due: none

test: enhance GameDetails and AdminLogin test coverage
  frontend/src/pages/__tests__/AdminLogin.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
Due: none

feat: implement Priority 1 enhancements from code review
  PRIORITY_1_ENHANCEMENTS.md
  backend/.coveragerc
  backend/api/v1/__init__.py
  backend/api/versioning.py
  backend/main.py
  backend/pytest.ini
  backend/run_tests_with_coverage.sh
  backend/tests/conftest.py
  backend/tests/test_integration/__init__.py
  backend/tests/test_integration/test_api_endpoints.py
  backend/tests/test_integration/test_game_workflow.py
  frontend/package.json
  frontend/src/api/client.js
  frontend/src/config/api.js
  frontend/vite.config.js
Due: backend, frontend

fix: resolve async_client fixture and BGG mock issues in integration tests
  backend/tests/test_integration/test_api_endpoints.py
  backend/tests/test_integration/test_game_workflow.py
Due: none

fix: add pytest_asyncio decorator for async_client fixture
  backend/tests/conftest.py
Due: none

fix: improve NZ designer filter test assertion
  backend/tests/test_integration/test_game_workflow.py
Due: none

fix: update integration test assertions for correct HTTP status codes
  backend/tests/test_integration/test_api_endpoints.py
  backend/tests/test_integration/test_game_workflow.py
Due: none

fix: add nz_designer to Game creation and adjust test assertions
  backend/services/game_service.py
  backend/tests/test_integration/test_api_endpoints.py
Due: backend

fix: resolve integration test failures with ASGI transport and correct assertions
  backend/tests/conftest.py
  backend/tests/test_integration/test_api_endpoints.py
Due: none

fix: clear admin rate limiter between tests to prevent 429 errors
  backend/tests/conftest.py
Due: none

fix: update frontend API paths for versioning compatibility
  frontend/src/api/__tests__/client.test.js
  frontend/src/api/client.js
Due: frontend

fix: adjust coverage thresholds to realistic baseline values
  backend/pytest.ini
  frontend/vite.config.js
Due: backend

fix: disable API versioning to fix front page 404 error
  frontend/src/config/api.js
Due: frontend

fix: prevent API freezing during long-running import operations
  backend/api/routers/buy_list.py
  frontend/src/api/client.js
  frontend/src/components/staff/tabs/BuyListTab.jsx
Due: backend, frontend

feat: optimize image loading performance with Quick Wins
  backend/api/routers/public.py
  backend/services/image_service.py
  frontend/src/components/GameImage.jsx
  frontend/src/hooks/useLazyLoad.js
Due: backend, frontend

test: update GameImage tests to reflect srcset enabled by default
  frontend/src/components/__tests__/GameImage.test.jsx
Due: none

feat: implement medium-term image optimization improvements
  backend/api/routers/public.py
  backend/migrations/add_cloudinary_url.py
  backend/models.py
  backend/services/cloudinary_service.py
  backend/services/game_service.py
  backend/utils/helpers.py
Due: backend

perf: implement Phase 1 performance optimizations
  backend/api/routers/public.py
  backend/migrations/add_gin_indexes_json_columns.py
  backend/services/game_service.py
  backend/utils/cache.py
  frontend/src/api/client.js
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/pages/PublicCatalogue.jsx
Due: backend, frontend

fix: remove axios wrapper that broke test mocks
  frontend/src/api/client.js
Due: frontend

test: significantly improve frontend test coverage
  frontend/src/api/__tests__/client.test.js
  frontend/src/hooks/__tests__/useScrollBehavior.test.js
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

fix: make PublicCatalogue tests more robust
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

feat: implement automatic version detection and mobile auto-refresh
  .gitignore
  frontend/AUTO_REFRESH_SYSTEM.md
  frontend/package.json
  frontend/public/_headers
  frontend/public/service-worker.js
  frontend/scripts/generate-version.js
  frontend/src/App.jsx
  frontend/src/components/UpdateNotification.jsx
  frontend/src/utils/versionCheck.js
Due: frontend

fix: simplify api/client interceptor tests
  frontend/src/api/__tests__/client.test.js
Due: none

fix: resolve failing scroll behavior and test suite issues
  frontend/src/hooks/__tests__/useScrollBehavior.test.js
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

fix: wrap IntersectionObserver test assertion in waitFor
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

fix: remove v1 sub-application to resolve CORS failures
  backend/main.py
Due: backend

fix: update API base URL to correct backend service
  .env.example
  frontend/index.html
Due: none

docs: reorganize and consolidate documentation
  ALEMBIC_MIGRATION_GUIDE.md
  TESTING.md
  docs/INDEX.md
  docs/archive/README.md
  docs/archive/implementations/ACCESSIBILITY_IMPROVEMENTS.md
  docs/archive/implementations/ALEMBIC_MIGRATION_COMPLETE.md
  docs/archive/implementations/AUTO_REFRESH_SYSTEM.md
  docs/archive/implementations/CODE_QUALITY_IMPROVEMENTS.md
  docs/archive/implementations/PRIORITY_1_ENHANCEMENTS.md
  docs/archive/implementations/TRACKING_PREVENTION_FIX.md
  docs/deployment/ALEMBIC.md
Due: none

fix: resolve CORS policy blocking frontend API requests
  backend/main.py
  backend/middleware/security.py
Due: backend

fix: resolve service worker CACHES undefined error
  frontend/public/service-worker.js
Due: none

fix: enhance CORS configuration to resolve preflight request failures
  backend/main.py
Due: backend

fix: use explicit headers in CORS config when credentials enabled
  backend/main.py
Due: backend

fix: update backend URL to match new Render service URL
  backend/config.py
  frontend/index.html
  frontend/src/config/api.js
  render.yaml
Due: backend, frontend

test: update API_BASE test to expect new Render URL
  backend/tests/test_config.py
Due: none

feat: add Alembic migration for cloudinary_url column
  backend/alembic/versions/6bb2f32fe517_add_cloudinary_url_column.py
Due: backend

fix: rebuild count query from scratch to ensure accurate total
  backend/services/game_service.py
Due: backend
