Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

feat(db): Sprint 4 Complete - Database Optimization & Performance
  SPRINT_4_OPTIMIZATION_SUMMARY.md
  backend/migrations/sprint4_optimization.py
  backend/models.py
  backend/services/game_service.py
Due: backend

fix(db): Ensure backward compatibility for designers_text column
  backend/services/game_service.py
Due: backend

fix(db): Check actual database schema for designers_text column
  backend/services/game_service.py
Due: backend

fix(db): Cast JSON designers column to String for ilike search
  backend/services/game_service.py
Due: backend

fix(db): Handle NULL is_expansion values in expansion filter
  backend/services/game_service.py
Due: backend

fix(tests): Add explicit status="OWNED" to designer filter tests
  backend/tests/test_api/test_public.py
Due: none

fix(db): Check if designers_text column is populated before using
  backend/services/game_service.py
Due: backend

feat(sprint-5): Complete error handling & monitoring improvements
  SPRINT_5_ERROR_HANDLING_SUMMARY.md
  backend/api/routers/admin.py
  backend/bgg_service.py
  backend/main.py
  backend/models.py
  backend/requirements.txt
  backend/services/image_service.py
  backend/tests/test_services/test_error_handling.py
Due: backend

fix(tests): Fix Sprint 5 error handling tests
  backend/bgg_service.py
  backend/tests/test_services/test_error_handling.py
Due: backend

fix: Correct API base URL and remove debug logging
  frontend/src/components/public/SortSelect.jsx
  frontend/src/config/api.js
  render.yaml
Due: frontend

fix(linter): Remove undefined logger reference in Sentry init
  backend/main.py
Due: backend

fix: Remove non-existent designers_text column causing database errors
  backend/models.py
  backend/services/game_service.py
Due: backend

fix: Handle Safari ITP storage blocking in service worker
  frontend/public/service-worker.js
Due: none

feat(sqlalchemy): Upgrade to SQLAlchemy 2.0.37 and migrate all query patterns
  SPRINT_6_SQLALCHEMY_2.0_SUMMARY.md
  backend/api/routers/admin.py
  backend/api/routers/bulk.py
  backend/api/routers/buy_list.py
  backend/api/routers/sleeves.py
  backend/database.py
  backend/main.py
  backend/models.py
  backend/requirements.txt
  backend/scripts/export_buy_list.py
  backend/scripts/fix_wingspan_asia.py
Due: backend

fix(sqlalchemy): Update case() syntax for SQLAlchemy 2.0 compatibility
  backend/services/game_service.py
Due: backend

docs: Update Sprint 6 summary with case() syntax fix details
  SPRINT_6_SQLALCHEMY_2.0_SUMMARY.md
Due: none

fix: Prevent service worker tracking prevention warnings
  frontend/public/service-worker.js
  frontend/src/utils/serviceWorkerRegistration.js
Due: frontend

Add files via upload
  frontend/public/Aftergame_Icon_Logo_V3-Light.webp
Due: none

feat: Add Aftergame icon to 'Plan a Game' buttons
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/pages/GameDetails.jsx
Due: frontend

fix: Add limit(1) to last-updated query to prevent multiple rows error
  backend/api/routers/buy_list.py
Due: backend

fix: Handle broken Cloudinary image URLs with automatic fallback to BGG
  backend/api/routers/public.py
  backend/services/cloudinary_service.py
Due: backend

Add files via upload
  frontend/public/Aftergame Logo V3-Light.png
  frontend/public/boardgamegeek_logo.webp
Due: none

feat: Add partner logos to header
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

Update PublicCatalogue.jsx
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

feat: Complete Sprint 7 - Pydantic v2 Migration
  SPRINT_7_PYDANTIC_V2_MIGRATION.md
  backend/requirements.txt
  backend/schemas.py
Due: backend

feat: Complete Sprint 8 - Redis Session Storage
  REDIS_SETUP.md
  SPRINT_8_REDIS_SUMMARY.md
  backend/api/dependencies.py
  backend/api/routers/health.py
  backend/config.py
  backend/redis_client.py
  backend/requirements.txt
  backend/shared/rate_limiting.py
  backend/test_redis_integration.py
  docker-compose.yml
  render.yaml
Due: backend

fix: Update test assertions to match API response format
  backend/tests/test_api/test_auth_flow.py
Due: none

Add files via upload
  frontend/public/mana_meeples_logo_192.png
  frontend/public/mana_meeples_logo_512.png
Due: none

Delete frontend/public/logo192.png
  frontend/public/logo192.png
Due: none

Delete frontend/public/logo512.png
  frontend/public/logo512.png
Due: none

Rename mana_meeples_logo_192.png to logo192.png
  frontend/public/logo192.png
Due: none

Rename mana_meeples_logo_512.png to logo512.png
  frontend/public/logo512.png
Due: none

Add files via upload
  frontend/public/logo192.png
  frontend/public/logo512.png
Due: none

Complete Sprint 9: Redis Session Storage documentation
  CLAUDE.md
  PRIORITIZED_IMPROVEMENT_ROADMAP.md
Due: none

feat: Complete Sprint 10 - Code Quality & Refactoring
  backend/main.py
  backend/mypy.ini
  backend/services/game_service.py
  backend/services/image_service.py
  backend/utils/helpers.py
  frontend/src/hooks/useGameFilters.js
  frontend/src/hooks/useInfiniteScroll.js
  frontend/src/hooks/useScrollBehavior.js
Due: backend, frontend

fix: Comprehensive image loading fixes - sizing and performance
  backend/api/routers/public.py
  frontend/src/components/GameImage.jsx
  frontend/src/components/public/ExpansionMiniCard.jsx
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/index.css
  frontend/src/pages/GameDetails.jsx
Due: backend, frontend

feat: Complete Sprint 11 - Advanced Testing Suite
  PRIORITIZED_IMPROVEMENT_ROADMAP.md
  SPRINT_11_TESTING_SUMMARY.md
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_integration_search_filter.py
  backend/tests/test_api/test_load.py
  backend/tests/test_api/test_performance.py
  e2e/admin-login-management.spec.ts
  e2e/bgg-import-workflow.spec.ts
  e2e/game-detail-view.spec.ts
  e2e/public-browsing.spec.ts
  frontend/package-lock.json
  frontend/package.json
  playwright.config.ts
Due: none

fix: Correct import statements in Sprint 11 test files
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_integration_search_filter.py
  backend/tests/test_api/test_performance.py
Due: none
