Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

fix: Resolve e2e test timeout by aligning Playwright config with CI workflow
  .github/workflows/test.yml
  e2e/playwright.config.js
Due: none

fix: Resolve E2E test failures by enabling SPA routing in CI
  .github/workflows/test.yml
  frontend/src/pages/AdminLogin.jsx
Due: frontend

fix: Correct E2E test syntax and selectors
  e2e/tests/admin-login-management.spec.js
  e2e/tests/game-detail-view.spec.js
  e2e/tests/public-browsing.spec.js
Due: none

fix: Resolve remaining E2E test issues
  .github/workflows/test.yml
  e2e/tests/game-detail-view.spec.js
  e2e/tests/public-browsing.spec.js
Due: none

fix: Handle sort select visibility in responsive layouts
  e2e/tests/public-browsing.spec.js
Due: none

fix: Make game detail information test more flexible
  e2e/tests/game-detail-view.spec.js
Due: none

fix: Resolve buy list test validation error
  backend/tests/conftest.py
Due: none

perf: comprehensive code quality and performance improvements
  backend/api/routers/public.py
  backend/config.py
  backend/database.py
  backend/main.py
  backend/services/game_service.py
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/index.jsx
Due: backend, frontend

docs: add comprehensive remaining improvements roadmap
  REMAINING_IMPROVEMENTS.md
Due: none

test: update database pool recycle test to match new configuration
  backend/tests/test_database/test_database.py
Due: none

Add files via upload
  scripts/boardgame_labels.py
Due: none

labels
  .claude/settings.local.json
  backend/api/routers/printing.py
  backend/assets/mana_meeples_logo.png
  backend/main.py
  backend/requirements.txt
  backend/schemas.py
  backend/services/label_generator.py
  frontend/src/api/client.js
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: backend, frontend

label fix
  backend/assets/cake.png
  backend/assets/clock.png
  backend/assets/group.png
  backend/assets/mana_meeples_logo_v3.svg
  backend/assets/partners.png
  backend/assets/puzzle.png
  backend/assets/swords.png
  backend/services/label_generator.py
Due: backend

fixes
  backend/requirements.txt
  backend/services/label_generator.py
Due: backend

label update
  backend/api/routers/printing.py
  backend/services/label_generator.py
Due: backend

admin sorts
  frontend/src/components/staff/tabs/BuyListTab.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: frontend

tailwind
  .claude/settings.local.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CategoryFilter.jsx
  frontend/src/components/CategorySelectModal.jsx
  frontend/src/components/GameImage.jsx
  frontend/src/components/UpdateNotification.jsx
  frontend/src/components/common/ErrorMessage.jsx
  frontend/src/components/onboarding/HelpButton.jsx
  frontend/src/components/onboarding/HelpModal.jsx
  frontend/src/components/public/ExpansionMiniCard.jsx
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/public/GameCardSkeleton.jsx
  frontend/src/components/public/Pagination.jsx
  frontend/src/components/public/SearchBox.jsx
  frontend/src/components/public/SortSelect.jsx
  frontend/src/components/staff/ExpansionEditModal.jsx
  frontend/src/components/staff/GameEditModal.jsx
  frontend/src/components/staff/LibraryCard.jsx
  frontend/src/components/staff/TabNavigation.jsx
  frontend/src/components/staff/tabs/AdvancedToolsTab.jsx
  frontend/src/components/staff/tabs/CategoriesTab.jsx
  frontend/src/components/staff/tabs/DashboardTab.jsx
  frontend/src/index.css
  frontend/src/pages/AdminLogin.jsx
  frontend/src/pages/GameDetails.jsx
  frontend/src/pages/PublicCatalogue.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx.orig
Due: frontend

tailwind
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/public/GameCardSkeleton.jsx
  frontend/src/components/staff/SearchBGGPanel.jsx
  frontend/src/components/staff/tabs/AddGamesTab.jsx
  frontend/src/pages/GameDetails.jsx
Due: frontend

improvements
  .claude/settings.local.json
  DATABASE_ANALYSIS_REPORT.md
  backend/alembic/versions/68d4e9a1b2c3_add_fulltext_search_index.py
  backend/boardgame_tracker_temp_folder/Boardgame Library.xlsx
  backend/boardgame_tracker_temp_folder/bgo_prices.py
  backend/config.py
  backend/database.py
  backend/main.py
  backend/redis_client.py
  database_analysis_results.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/icons/ChevronDown.jsx
  frontend/src/components/icons/HelpCircle.jsx
  frontend/src/components/icons/X.jsx
  frontend/src/components/onboarding/HelpButton.jsx
  frontend/src/components/onboarding/HelpModal.jsx
  test_database_analysis.py
Due: backend, frontend

fix
  backend/api/routers/admin.py
  backend/api/routers/printing.py
  backend/api/routers/public.py
  backend/services/game_service.py
Due: backend

fixes
  backend/api/routers/admin.py
  backend/shared/rate_limiting.py
  frontend/src/hooks/useLazyLoad.js
Due: backend, frontend

updates
  .env.example
  render.yaml
Due: none

Fix fulltext search migration JSONB array handling
  backend/alembic/versions/68d4e9a1b2c3_add_fulltext_search_index.py
Due: backend

Fix DB_POOL_RECYCLE default to match test expectation
  backend/config.py
Due: backend

Fix E2E test failures by adding test data seeding
  .github/workflows/test.yml
  backend/scripts/seed_e2e_data.py
  e2e/README.md
Due: backend

e2e fix
  .claude/settings.local.json
Due: none

settings
  .claude/settings.json
  .claude/settings.local.json
Due: none

fixes
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/api/routers/public.py
  backend/config.py
  backend/scripts/seed_e2e_data.py
Due: backend

Security: Phase 1 - Critical security hardening and bug fixes
  backend/bgg_service.py
  backend/main.py
  frontend/src/components/staff/tabs/BuyListTab.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
  frontend/src/hooks/useOnboarding.js
Due: backend, frontend

Fix: E2E seed data JSON field formatting
  backend/scripts/seed_e2e_data.py
Due: backend

e2e fix
  backend/alembic/versions/69e5f1b3d4e5_convert_json_to_jsonb.py
  backend/models.py
Due: backend

error fix
  backend/models.py
  backend/tests/conftest.py
  backend/tests/test_api/test_integration_search_filter.py
  backend/tests/test_api/test_performance.py
  backend/tests/test_services/test_game_service.py
  backend/tests/test_utils/test_helpers.py
Due: backend

Refactor: Phase 2 - Frontend code quality improvements
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/pages/GameDetails.jsx
  frontend/src/utils/__tests__/categoryStyles.test.js
  frontend/src/utils/__tests__/gameFormatters.test.js
  frontend/src/utils/categoryStyles.js
  frontend/src/utils/gameFormatters.js
Due: frontend

updates
  .claude/settings.local.json
  .serena/.gitignore
  .serena/project.yml
  backend/bgg_service.py
  backend/services/__init__.py
  backend/services/bgg_parser.py
  backend/tests/test_services/test_bgg_parser.py
  backend/tests/test_services/test_bgg_service.py
Due: backend

Fix: Phase 3 test compatibility after parser refactoring
  backend/tests/test_services/test_bgg_service.py
Due: none

playwright
  package-lock.json
  package.json
Due: none

e2e fix
  .claude/settings.local.json
  .gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  playwright-report/index.html
Due: none

Fix E2E CI workflow to use root-level Playwright config
  .github/workflows/test.yml
Due: none

e2e fix
  playwright-report/index.html
Due: none

Fix Playwright webServer timeout in CI environment
  playwright.config.ts
Due: none
