Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

fix: Resolve Cloudinary 404 errors by disabling srcSet and size transformations
  backend/api/routers/public.py
  frontend/src/components/GameImage.jsx
Due: backend, frontend

fix: Update Sprint 11 tests to use correct fixture names
  backend/tests/conftest.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_integration_search_filter.py
  backend/tests/test_api/test_load.py
  backend/tests/test_api/test_performance.py
Due: none

fix: Disable rate limiting during tests and fix authentication headers
  backend/api/dependencies.py
  backend/config.py
  backend/tests/conftest.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_load.py
  backend/tests/test_api/test_performance.py
Due: backend

docs: Update Sprint 11 summary with final test results
  SPRINT_11_TESTING_SUMMARY.md
Due: none

fix: Disable slowapi rate limiter during tests
  backend/shared/rate_limiting.py
Due: backend

docs: Update Sprint 11 with final improved test results
  SPRINT_11_TESTING_SUMMARY.md
Due: none

fix: Replace deprecated @app.on_event() with lifespan handler
  backend/main.py
Due: backend

fix: Fix test failures and improve validation
  backend/api/routers/admin.py
  backend/services/game_service.py
  backend/tests/conftest.py
Due: backend

fix: Upload images to Cloudinary on-demand to prevent 404 errors
  backend/api/routers/public.py
Due: backend

Fix admin game test failures - database constraints and test expectations
  backend/models.py
  backend/tests/test_api/test_admin.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: backend

Fix 500 errors - add default status and AsyncMock for BGG imports
  backend/services/game_service.py
  backend/tests/test_api/test_admin.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: backend

Fix admin game creation and BGG import tests
  backend/tests/conftest.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix async function mocking - use AsyncMock for fetch_bgg_thing
  backend/tests/test_api/test_admin.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix BGG mocking - patch at bgg_service level not router level
  backend/tests/test_api/test_admin.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix persistent test errors - game_to_dict, IntegrityError, and database teardown
  backend/api/routers/admin.py
  backend/tests/conftest.py
Due: backend

Fix BGG mocking - patch at import location not definition location
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix remaining 4 BGG import integration test failures
  backend/api/routers/admin.py
  backend/services/game_service.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: backend

Fix test_import_concurrent_requests - use valid BGG IDs
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix flaky performance test - increase threshold for CI/CD variance
  backend/tests/test_api/test_performance.py
Due: none

Fix BGG ID validation - remove arbitrary upper bound
  backend/services/game_service.py
Due: backend

Update test for BGG ID validation change and add title validation test
  backend/tests/test_services/test_game_service.py
Due: none

Fix mobile image sizing in game cards
  frontend/src/components/GameImage.jsx
Due: frontend

Fix game transfer from buy list to owned
  backend/services/game_service.py
  backend/tests/test_api/test_integration_admin_management.py
Due: backend

Add datetime conversion for date_added field
  backend/services/game_service.py
Due: backend

Add status field to API response
  backend/utils/helpers.py
Due: backend

Fix 'Multiple rows found' error in buy list update
  backend/api/routers/buy_list.py
Due: backend

Complete Sprint 12: Performance Optimization
  PRIORITIZED_IMPROVEMENT_ROADMAP.md
  SPRINT_12_PERFORMANCE_SUMMARY.md
  backend/api/routers/public.py
  backend/config.py
  backend/database.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/GameDetails.jsx
  frontend/vite.config.js
Due: backend, frontend

Fix SQLite thread safety issues in test configuration
  backend/tests/conftest.py
Due: none

Fix load test throughput by optimizing database and caching
  backend/api/routers/public.py
  backend/database.py
  backend/utils/cache.py
Due: backend

Fix unterminated f-string syntax error in public.py
  backend/api/routers/public.py
Due: backend

Fix F824 flake8 error: remove unnecessary global declarations
  backend/utils/cache.py
Due: backend

Fix test cache pollution by clearing cache before each test
  backend/tests/conftest.py
Due: none

Clean up and reorganize documentation structure
  README.md
  docs/INDEX.md
  docs/README.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/archive/DEPLOYMENT_GUIDE.md
  docs/archive/LIBRARY_DEPLOYMENT_GUIDE.md
  docs/archive/README.md
  docs/archive/reviews/ADMIN_FIXES_SUMMARY.md
  docs/archive/reviews/CODE_REVIEW_COMPREHENSIVE.md
  docs/archive/reviews/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  docs/archive/sprints/SPRINT_11_TESTING_SUMMARY.md
  docs/archive/sprints/SPRINT_12_PERFORMANCE_SUMMARY.md
  docs/archive/sprints/SPRINT_1_SUMMARY.md
  docs/archive/sprints/SPRINT_4_OPTIMIZATION_SUMMARY.md
  docs/archive/sprints/SPRINT_5_ERROR_HANDLING_SUMMARY.md
  docs/archive/sprints/SPRINT_6_SQLALCHEMY_2.0_SUMMARY.md
  docs/archive/sprints/SPRINT_7_PYDANTIC_V2_MIGRATION.md
  docs/archive/sprints/SPRINT_8_REDIS_SUMMARY.md
  docs/deployment/DEPLOYMENT_GUIDE.md
  docs/misc/TESTING_GUIDE.md
Due: none

Security fix: Remove production credentials from archived deployment guide
  docs/archive/DEPLOYMENT_GUIDE.md
Due: none

Implement comprehensive accessibility improvements for WCAG 2.1 AA compliance
  ACCESSIBILITY_IMPROVEMENTS.md
  frontend/src/components/common/LiveRegion.jsx
  frontend/src/components/common/SkipNav.jsx
  frontend/src/components/common/VisuallyHidden.jsx
  frontend/src/index.css
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

Add comprehensive type hints to backend Python code
  backend/bgg_service.py
  backend/middleware/logging.py
  backend/middleware/performance.py
  backend/middleware/security.py
  backend/services/image_service.py
  backend/shared/rate_limiting.py
Due: backend

Fix admin tab button overlap on mobile
  frontend/src/components/staff/TabNavigation.jsx
Due: frontend

Fix game details page errors by treating NULL status as OWNED
  backend/api/routers/public.py
  backend/services/game_service.py
Due: backend

Fix: Adjust empty result performance test threshold to 150ms
  backend/tests/test_api/test_performance.py
Due: none

Fix: Add comprehensive defensive programming to game details page
  frontend/src/components/public/ExpansionMiniCard.jsx
  frontend/src/pages/GameDetails.jsx
Due: frontend
