Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

test: Complete ManageLibraryTab tests (52 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/ManageLibraryTab.test.jsx
Due: none

test(frontend): Add comprehensive BuyListTab tests (54 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/BuyListTab.test.jsx
Due: none

test(frontend): Add comprehensive AdvancedToolsTab tests (30 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/AdvancedToolsTab.test.jsx
Due: none

settings
  .claude/settings.local.json
Due: none

feat: Add comprehensive tests for ExpansionEditModal and LibraryCard
  frontend/src/components/staff/__tests__/ExpansionEditModal.test.jsx
  frontend/src/components/staff/__tests__/LibraryCard.test.jsx
Due: none

test: add comprehensive tests for sleeve components (55 tests)
  frontend/src/components/staff/__tests__/SleeveShoppingListModal.test.jsx
  frontend/src/components/staff/__tests__/SleevesListTable.test.jsx
Due: none

test: add comprehensive tests for TabNavigation component (28 tests)
  frontend/src/components/staff/__tests__/TabNavigation.test.jsx
Due: none

test: add comprehensive tests for UpdateNotification component (36 tests)
  frontend/src/components/__tests__/UpdateNotification.test.jsx
Due: none

test: add comprehensive tests for icon components (22 tests)
  frontend/src/components/icons/__tests__/ChevronDown.test.jsx
  frontend/src/components/public/game-card/__tests__/icons.test.jsx
Due: none

testing
  frontend/src/components/public/game-card/__tests__/StatBadge.test.jsx
Due: none

fix: remove PropTypes from StatBadge + add comprehensive tests (17 tests)
  frontend/src/components/public/game-card/StatBadge.jsx
Due: frontend

fix: improve test isolation for PublicCatalogue retry button test
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

game details update
  backend/api/routers/public.py
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/pages/GameDetails.jsx
Due: backend, frontend

update
  .claude/settings.local.json
  backend/alembic/versions/PENDING_remove_thumbnail_columns.py
  backend/api/routers/admin.py
  backend/api/routers/bulk.py
  backend/api/routers/buy_list.py
  backend/models.py
  backend/schemas.py
  backend/services/background_tasks.py
  backend/services/game_service.py
  backend/services/image_service.py
Due: backend

fix
  frontend/src/pages/GameDetails.jsx
Due: frontend

thumbnail fix
  backend/alembic/versions/remove_thumbnail_columns.py
Due: backend

test updates
  backend/tests/test_api/test_bulk_enhanced.py
  backend/tests/test_api/test_public.py
Due: none

thumbnail removal fix
  backend/api/routers/bulk.py
  backend/api/routers/health.py
  backend/api/routers/public.py
  backend/models.py
  backend/schemas.py
  backend/tests/test_api/test_bulk.py
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_main.py
  backend/tests/test_models.py
  backend/tests/test_scripts/test_backfill_cloudinary_urls.py
  backend/utils/helpers.py
Due: backend

fix
  backend/scripts/backfill_cloudinary_urls.py
Due: backend

performance fixes
  backend/middleware/cache.py
  frontend/public/_headers
  frontend/src/index.css
Due: backend, frontend

updates
  data/boardgames_202512141007.csv
  data/boardgames_202512141007.xlsx
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

updates
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .serena/project.yml
  backend/requirements.txt
  backend/tests/test_services/test_image_service.py
  frontend/package.json
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/staff/GameEditModal.jsx
  frontend/src/components/staff/ManualGameEntryPanel.jsx
  frontend/src/index.css
  frontend/tailwind.config.cjs
  frontend/vite.config.js
Due: backend, frontend

fix
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

fix
  backend/requirements.txt
Due: backend

fix2
  backend/requirements.txt
Due: backend

fix3
  frontend/package-lock.json
Due: none

MORE FIX
  .claude/settings.local.json
  frontend/src/components/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/staff/ManualGameEntryPanel.jsx
Due: frontend

no sleeves
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: frontend

sleeve value fix
  CLAUDE.md
  backend/models.py
  docs/admin/SLEEVE_FETCH_SETUP.md
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: backend, frontend

new sleeve functionality
  .claude/settings.local.json
  backend/alembic/versions/a1b2c3d4e5f6_add_sleeve_products_table.py
  backend/alembic/versions/remove_thumbnail_columns.py
  backend/api/routers/sleeves.py
  backend/models.py
  backend/services/sleeve_matching.py
  frontend/src/api/client.js
  frontend/src/components/staff/SleeveShoppingListModal.jsx
  frontend/src/components/staff/SleevesListTable.jsx
  frontend/src/components/staff/tabs/SleeveInventoryTab.jsx
  frontend/src/pages/StaffView.jsx
Due: backend, frontend

test fixes
  frontend/src/components/staff/__tests__/SleeveShoppingListModal.test.jsx
  frontend/src/components/staff/__tests__/SleevesListTable.test.jsx
Due: none

fix new
  backend/alembic/versions/remove_thumbnail_columns.py
Due: backend

updates
  backend/alembic/versions/a1b2c3d4e5f6_add_sleeve_products_table.py
  backend/alembic/versions/remove_thumbnail_columns.py
Due: backend

sleeves updated\
  backend/services/sleeve_matching.py
  frontend/src/components/staff/tabs/SleeveInventoryTab.jsx
Due: backend, frontend

wordin change
  frontend/src/components/staff/tabs/SleeveInventoryTab.jsx
Due: frontend

owned fix
  backend/services/sleeve_matching.py
Due: backend

table layout
  frontend/src/components/staff/tabs/SleeveInventoryTab.jsx
Due: frontend

fix
  .claude/settings.local.json
  backend/requirements.txt
Due: backend

sleeves logic fix
  backend/api/routers/sleeves.py
  backend/services/sleeve_matching.py
Due: backend

sleeves matching
  backend/services/sleeve_matching.py
Due: backend
