Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

Fix test to use valid BGG ID format and accept 422 validation error
  backend/tests/test_api/test_integration_buy_list.py
Due: none

Fix GameDetails tests to match updated field names and UI changes
  frontend/src/pages/__tests__/GameDetails.test.jsx
Due: none

Fix remaining tests to use correct field names (year, playtime_min/max)
  frontend/src/pages/__tests__/GameDetails.test.jsx
Due: none

Add 422 to accepted status codes in duplicate buy list test
  backend/tests/test_api/test_integration_buy_list.py
Due: none

Add comprehensive debug logging for infinite scroll pagination issue
  backend/services/game_service.py
  backend/test_pagination_debug.py
  test_pagination_sql.sh
Due: backend

Fix infinite scroll pagination: Add secondary sort by ID for stable ordering
  backend/services/game_service.py
Due: backend

Improve sort ordering: Add Title as secondary sort before ID
  backend/services/game_service.py
Due: backend

Sprint 12: Optimize backend performance with cache warming and window functions
  backend/main.py
  backend/services/game_service.py
Due: backend

Fix: Add missing time import for cache warming
  backend/main.py
Due: backend

Fix: Handle edge case where page is beyond available data in window function
  backend/services/game_service.py
Due: backend

docs: Add comprehensive performance analysis and improvement recommendations
  PERFORMANCE_ANALYSIS.md
Due: none

cleanup
  TO DO LIST.txt
  docs/performance/BEFORE_AFTER_COMPARISON.md
  docs/performance/COMPREHENSIVE_PERFORMANCE_REVIEW.md
  docs/performance/MONITORING_QUERIES.sql.md
  docs/performance/PHASE1_IMPLEMENTATION_PLAN.md
  docs/performance/QUICK_START_GUIDE.md
  docs/performance/README.md
Due: none

feat: Implement Phase 1 performance optimizations (React.memo, query logging, Sentry alerts)
  PHASE_1_IMPLEMENTATION.md
  backend/database.py
  backend/middleware/performance.py
  frontend/src/components/public/GameCardPublic.jsx
Due: backend, frontend

feat: Implement Phase 2 performance optimizations (React Query API caching)
  PHASE_2_IMPLEMENTATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.jsx
  frontend/src/pages/GameDetails.jsx
  frontend/src/pages/PublicCatalogue.jsx
  frontend/src/pages/PublicCatalogue_Original.jsx.bak
Due: frontend

test: Add React Query support to GameDetails and PublicCatalogue tests
  frontend/src/__tests__/test-utils.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx.bak
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx.bak
Due: none

test: Improve React Query error test timeouts (86% pass rate)
  frontend/src/pages/__tests__/GameDetails.test.jsx.orig
  frontend/src/pages/__tests__/GameDetails.test.jsx.rej
Due: none

test: Fix error handling tests in PublicCatalogue and GameDetails
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

chore: Remove legacy code and backup files
  frontend/src/api/client.js
  frontend/src/config/api.js
  frontend/src/pages/PublicCatalogue_Original.jsx.bak
  frontend/src/pages/__tests__/GameDetails.test.jsx.bak
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx.bak
Due: frontend

refactor: Complete medium-term cleanup and code organization
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/api/routers/bulk.py
  backend/main.py
  backend/middleware/security.py
  backend/services/__init__.py
  backend/services/background_tasks.py
  backend/tests/test_main.py
Due: backend

clean up
  PERFORMANCE_ANALYSIS.md
  PHASE_1_IMPLEMENTATION.md
  PHASE_2_IMPLEMENTATION.md
Due: none

security: Implement P0 and P1 security fixes from code review
  .github/dependabot.yml
  .github/workflows/test.yml
  backend/api/routers/admin.py
  backend/main.py
  backend/middleware/csrf_protection.py
  backend/utils/error_handlers.py
  frontend/src/components/GameImage.jsx
  frontend/src/utils/urlSanitizer.js
Due: backend, frontend

fix: Resolve 200+ test failures from CSRF protection and mock patching issues
  backend/tests/conftest.py
  backend/tests/test_main.py
Due: none

fix: Complete CSRF protection and function signature test fixes
  backend/middleware/csrf_protection.py
  backend/tests/conftest.py
  backend/tests/test_api/test_admin.py
  backend/tests/test_api/test_bulk.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: backend

fix: Final test fixes for session auth and integration tests
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
  backend/tests/test_api/test_security.py
Due: none

fix: Correct syntax errors in test_integration_bgg_import.py
  backend/tests/test_api/test_integration_bgg_import.py
Due: none

Fix CSRF protection and security header test failures
  backend/middleware/csrf_protection.py
  backend/middleware/security.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_sleeves.py
Due: backend

Fix async userEvent.click() calls in frontend tests
  frontend/src/components/common/__tests__/ErrorMessage.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

Fix DELETE request in auth test to include CSRF headers
  backend/tests/test_api/test_integration_buy_list.py
Due: none

Fix Tailwind CSS v4 PostCSS configuration
  frontend/package.json
  frontend/postcss.config.cjs
Due: none

updates
  frontend/package-lock.json
Due: none

fix: Resolve VSCode pytest discovery and Playwright Tailwind errors
  VSCODE_SETUP.md
  backend/tests/test_scripts/__init__.py
  frontend/postcss.config.cjs
  frontend/src/index.css
Due: frontend

fix: Resolve buy list priority test failures and security header issues
  backend/middleware/security.py
  backend/schemas.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_sleeves.py
Due: backend

fix: Await userEvent.click() in frontend tests
  frontend/src/components/common/__tests__/ErrorMessage.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

fix: Prevent Playwright from running Vitest tests + Python extension guide
  VSCODE_SETUP.md
  e2e/playwright.config.js
  playwright.config.ts
Due: none

updates
  frontend/test-results/.last-run.json
Due: none

fix: Resolve test failures in security headers and schema validation
  backend/middleware/security.py
  backend/schemas.py
  frontend/package-lock.json
Due: backend

fix: Add missing terser dependency for frontend build
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: Increase game detail performance test threshold to 150ms
  backend/tests/test_api/test_performance.py
Due: none

fix: Correct boolean comparison in database migration
  backend/alembic/versions/a879cc066239_initial_schema_baseline.py
Due: backend

fix: Update migration to handle json->jsonb conversion
  backend/alembic/versions/67525c3297b2_add_performance_indexes_phase1.py
Due: backend
