Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

Fix missing defaultdict import in rate limiting tests
  backend/tests/test_shared/test_rate_limiting.py
Due: none

Add comprehensive test coverage for redis_client and database modules
  backend/tests/test_database/__init__.py
  backend/tests/test_database/test_database.py
  backend/tests/test_redis/__init__.py
  backend/tests/test_redis/test_redis_client.py
Due: none

Add coverage.json to .gitignore
  .gitignore
Due: none

Add comprehensive test coverage for buy_list, cloudinary_service, and sleeves
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_api/test_sleeves.py
  backend/tests/test_services/test_cloudinary_service.py
Due: none

Add comprehensive test coverage for sleeve_scraper service
  backend/tests/test_services/test_sleeve_scraper.py
Due: none

Add comprehensive test coverage for config, exceptions, schemas, and models modules
  backend/tests/test_config.py
  backend/tests/test_exceptions.py
  backend/tests/test_models.py
  backend/tests/test_schemas.py
Due: none

Add comprehensive test coverage for database and middleware modules
  backend/tests/test_database/test_database.py
  backend/tests/test_middleware/__init__.py
  backend/tests/test_middleware/test_cache.py
  backend/tests/test_middleware/test_logging.py
  backend/tests/test_middleware/test_performance.py
Due: none

Fix cache middleware tests by using real ASGI app functions
  backend/tests/test_middleware/test_cache.py
Due: none

Add comprehensive test coverage for admin router
  backend/tests/test_api/test_admin.py
Due: none

Add comprehensive test coverage for bulk and public routers
  backend/tests/test_api/test_bulk.py
  backend/tests/test_api/test_public.py
Due: none

Add comprehensive test coverage for buy_list router
  backend/tests/test_api/test_buy_list.py
Due: none

Significantly improve test coverage for main.py and bgg_service.py
  backend/tests/test_main.py
  backend/tests/test_services/test_bgg_service.py
Due: none

Add error handling tests for buy_list router
  backend/tests/test_api/test_buy_list.py
Due: none

Remove duplicate test_main.py file from root tests directory
  tests/test_main.py
Due: none

Significantly improve test coverage for image_service.py
  backend/tests/test_services/test_image_service.py
Due: none

Improve BGG service test coverage from 72% to 83%
  backend/tests/test_services/test_bgg_service.py
Due: none

Improve buy_list router test coverage from 73.8% to 96.4%
  backend/tests/test_api/test_buy_list_additional.py
Due: none

Add comprehensive tests for security middleware
  backend/tests/test_middleware/test_security.py
Due: none

Achieve 100% test coverage for config.py
  backend/tests/test_config.py
Due: none

feat: Implement critical code quality improvements from comprehensive review
  ALEMBIC_MIGRATION_GUIDE.md
  CODE_QUALITY_IMPROVEMENTS.md
  FRONTEND_TEST_GUIDE.md
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/config.py
  backend/main.py
  backend/models.py
  backend/services/game_service.py
Due: backend

fix: Update test_dependencies.py to use timezone-aware datetimes
  backend/tests/test_api/test_dependencies.py
Due: none

fix: Resolve all test deprecation warnings
  backend/api/routers/buy_list.py
  backend/api/routers/health.py
  backend/bgg_service.py
  backend/pytest.ini
  backend/test_redis_integration.py
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_api/test_buy_list_additional.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_models.py
  backend/tests/test_shared/test_rate_limiting.py
  backend/tests/test_utils/test_jwt_utils.py
  backend/utils/helpers.py
  backend/utils/jwt_utils.py
Due: backend

fix: Correct timestamp format in helper functions
  backend/utils/helpers.py
Due: backend

feat: Migrate to Alembic for database schema management
  backend/ALEMBIC_DEPLOYMENT.md
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/a879cc066239_initial_schema_baseline.py
  backend/database.py
  backend/main.py
  backend/requirements.txt
  render.yaml
Due: backend

fix: Remove legacy migration tests after Alembic migration
  backend/tests/conftest.py
  backend/tests/test_database/test_database.py
Due: none

feat: Complete Alembic migration from in-code migrations
  ALEMBIC_MIGRATION_COMPLETE.md
  backend/scripts/run_migrations.py
Due: backend

feat: Add comprehensive frontend test suite
  frontend/src/api/__tests__/client.test.js
  frontend/src/config/__tests__/api.test.js
  frontend/src/hooks/__tests__/useAuth.test.js
  frontend/src/hooks/__tests__/useGameFilters.test.js
  frontend/src/hooks/__tests__/useInfiniteScroll.test.js
  frontend/src/hooks/__tests__/useOnboarding.test.js
  frontend/src/hooks/__tests__/useToast.test.js
  frontend/src/pages/__tests__/AdminLogin.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
  frontend/src/test/setup.js
Due: frontend

fix: Update frontend tests to use Vitest API instead of Jest
  frontend/src/api/__tests__/client.test.js
  frontend/src/hooks/__tests__/useAuth.test.js
  frontend/src/hooks/__tests__/useGameFilters.test.jsx
  frontend/src/hooks/__tests__/useInfiniteScroll.test.js
  frontend/src/hooks/__tests__/useOnboarding.test.js
  frontend/src/hooks/__tests__/useToast.test.js
  frontend/src/pages/__tests__/AdminLogin.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

fix: Resolve all remaining test failures - 100% passing
  frontend/src/api/__tests__/client.test.js
  frontend/src/config/__tests__/api.test.js
  frontend/src/hooks/__tests__/useInfiniteScroll.test.js
  frontend/src/hooks/__tests__/useToast.test.js
  frontend/src/hooks/useToast.jsx
  frontend/src/pages/__tests__/AdminLogin.test.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: frontend

test: Increase frontend test coverage from 54% to 62%
  frontend/src/components/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/common/__tests__/LoadingSpinner.test.jsx
  frontend/src/components/public/__tests__/ExpansionMiniCard.test.jsx
  frontend/src/components/public/__tests__/SortSelect.test.jsx
  frontend/src/hooks/__tests__/useLazyLoad.test.js
  frontend/src/utils/__tests__/storage.test.js
Due: none

test: Increase frontend test coverage from 62% to 63%
  frontend/src/components/common/__tests__/LiveRegion.test.jsx
  frontend/src/components/common/__tests__/SkeletonLoader.test.jsx
  frontend/src/components/common/__tests__/Toast.test.jsx
  frontend/src/components/public/__tests__/Pagination.test.jsx
Due: none

test: Enhance useInfiniteScroll hook tests with state management coverage
  frontend/src/hooks/__tests__/useInfiniteScroll.test.js
Due: none

test: Fix useOnboarding hook timestamp race condition
  frontend/src/hooks/useOnboarding.js
Due: frontend

fix: Correct PostgreSQL partial index syntax in models.py
  backend/models.py
Due: backend

test: Significantly increase frontend test coverage
  frontend/src/api/__tests__/client.test.js
  frontend/src/components/__tests__/GameImage.test.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
Due: none

test: Further increase frontend test coverage
  frontend/src/__tests__/App.test.jsx
  frontend/src/components/__tests__/CategorySelectModal.test.jsx
  frontend/src/hooks/__tests__/useInfiniteScroll.test.js
Due: none

test: Comprehensive frontend test coverage improvements
  frontend/src/hooks/__tests__/useAuth.test.js
Due: none

fix: Resolve Alembic installation and ADMIN_TOKEN warning issues
  .github/workflows/fetch-buy-list-prices.yml
  backend/config.py
Due: backend

fix: Handle existing database tables in Alembic migrations
  backend/scripts/run_migrations.py
Due: backend
