Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix E2E tests: Use 'serve' for proper SPA routing
  .github/workflows/test.yml
Due: none

Add debug verification for E2E test data and API
  .github/workflows/test.yml
Due: none

Add browser console logging to E2E tests for debugging
  e2e/tests/game-detail-view.spec.js
Due: none

Improve E2E test backend health checks and logging
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

Fix E2E tests: Disable rate limiting in CI environment
  .github/workflows/test.yml
Due: none

settings update
  .claude/settings.local.json
Due: none

Add detailed request/response logging to E2E tests
  backend/shared/rate_limiting.py
  e2e/tests/game-detail-view.spec.js
Due: backend

Fix E2E tests: Remove hardcoded production API URL from meta tag
  frontend/index.html
Due: none

clean
  DATABASE_ANALYSIS_REPORT.md
  REMAINING_IMPROVEMENTS.md
  TO DO LIST.txt
  VSCODE_SETUP.md
  current_error_log.txt
Due: none

settings
  .claude/settings.local.json
Due: none

colour label change
  .claude/settings.local.json
  backend/services/label_generator.py
Due: backend

sleeve update
  .claude/settings.local.json
  backend/alembic/versions/08f412b7ff6b_add_sleeve_is_sleeved_field.py
  backend/api/routers/sleeves.py
  backend/models.py
  backend/schemas.py
  backend/services/game_service.py
  backend/utils/helpers.py
  frontend/src/api/client.js
  frontend/src/components/staff/GameEditModal.jsx
  frontend/src/components/staff/SleevesListTable.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
  tmpclaude-2144-cwd
  tmpclaude-51f3-cwd
  tmpclaude-60d3-cwd
  tmpclaude-e38b-cwd
Due: backend, frontend

review
  .claude/settings.local.json
  backend/middleware/security.py
  backend/models.py
  frontend/vite.config.js
  tmpclaude-2c8e-cwd
  tmpclaude-2e05-cwd
  tmpclaude-33b3-cwd
  tmpclaude-42e9-cwd
  tmpclaude-4a32-cwd
  tmpclaude-6341-cwd
  tmpclaude-7097-cwd
  tmpclaude-85b5-cwd
  tmpclaude-a95d-cwd
  tmpclaude-c315-cwd
  tmpclaude-da1a-cwd
  tmpclaude-db74-cwd
  tmpclaude-e3d1-cwd
  tmpclaude-ff3a-cwd
Due: backend

update
  .claude/settings.local.json
  backend/api/routers/sleeves.py
  backend/tmpclaude-8672-cwd
  backend/tmpclaude-9699-cwd
Due: backend

upgrades
  .github/workflows/test.yml
  .github/workflows/tmpclaude-8e2c-cwd
  CLAUDE.md
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/config.py
  backend/main.py
  backend/middleware/request_id.py
  backend/shared/rate_limiting.py
  frontend/src/components/public/game-card/StatBadge.jsx
  frontend/src/components/public/game-card/icons.jsx
  tmpclaude-1b8b-cwd
  tmpclaude-1daf-cwd
  tmpclaude-4e76-cwd
  tmpclaude-69a0-cwd
  tmpclaude-9187-cwd
  tmpclaude-c174-cwd
  tmpclaude-cf44-cwd
  tmpclaude-d6e8-cwd
Due: backend, frontend

fix
  backend/tests/test_database/test_database.py
  backend/tmpclaude-0103-cwd
  backend/tmpclaude-2bf5-cwd
Due: backend

update
  .claude/settings.local.json
  backend/alembic/versions/f37582e531b4_add_is_sleeved_column_to_boardgames_.py
  backend/tmpclaude-06bd-cwd
  backend/tmpclaude-3931-cwd
  backend/tmpclaude-af43-cwd
  backend/tmpclaude-f0e5-cwd
Due: backend

updates
  .claude/settings.local.json
  backend/tmpclaude-8f37-cwd
  frontend/src/components/common/SkipNav.css
  frontend/src/components/common/SkipNav.jsx
  frontend/src/pages/AdminLogin.jsx
  frontend/src/pages/GameDetails.jsx
  frontend/src/pages/PublicCatalogue.jsx
  frontend/src/pages/StaffView.jsx
  frontend/src/pages/tmpclaude-8648-cwd
  frontend/src/pages/tmpclaude-ca5f-cwd
  frontend/src/tmpclaude-fb60-cwd
  tmpclaude-1069-cwd
  tmpclaude-1fb6-cwd
  tmpclaude-2fb6-cwd
  tmpclaude-5ac3-cwd
  tmpclaude-6571-cwd
  tmpclaude-8d5e-cwd
  tmpclaude-aef5-cwd
  tmpclaude-b322-cwd
  tmpclaude-b524-cwd
  tmpclaude-beb2-cwd
  tmpclaude-cf7b-cwd
  tmpclaude-d895-cwd
  tmpclaude-db7a-cwd
  tmpclaude-dce1-cwd
Due: backend, frontend

sleeves patch
  backend/main.py
Due: backend

fix
  frontend/src/pages/AdminLogin.jsx
  frontend/src/pages/__tests__/AdminLogin.test.jsx
Due: frontend

improvements
  docs/operations/INCIDENT_RESPONSE.md
  docs/operations/SECRET_ROTATION.md
  frontend/.gitignore
  frontend/package.json
  frontend/vite.config.js
Due: none

code improvement
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/public/game-card/GameCardStats.jsx
Due: frontend

fix
  frontend/package-lock.json
Due: none

dependency fix
  frontend/src/components/public/game-card/GameCardStats.jsx
Due: frontend

TESTS
  .claude/settings.local.json
  backend/tests/test_api/test_image_proxy.py
  backend/tests/test_api/test_rate_limiting.py
  backend/tests/test_api/test_ssrf_protection.py
  backend/tests/test_services/test_game_service_comprehensive.py
  frontend/src/components/staff/__tests__/BulkPanels.test.jsx
  frontend/src/components/staff/__tests__/GameEditModal.test.jsx
  frontend/src/components/staff/__tests__/ManualGameEntryPanel.test.jsx
  frontend/src/components/staff/__tests__/SearchBGGPanel.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: none

testing updates
  .claude/settings.local.json
  backend/tests/test_api/test_image_proxy.py
  backend/tests/test_api/test_printing.py
  backend/tests/test_api/test_rate_limiting.py
  backend/tests/test_api/test_sleeves.py
  backend/tests/test_api/test_ssrf_protection.py
  frontend/src/components/staff/ManualGameEntryPanel.jsx
  frontend/src/components/staff/__tests__/GameEditModal.test.jsx
  frontend/src/components/staff/__tests__/ManualGameEntryPanel.test.jsx
  frontend/src/components/staff/__tests__/SearchBGGPanel.test.jsx
  frontend/src/pages/__tests__/StaffView.test.jsx
Due: frontend

slight test fix
  backend/tests/test_api/test_performance.py
Due: none

tests
  .claude/settings.local.json
  backend/api/routers/sleeves.py
  backend/tests/conftest.py
  backend/tests/test_services/test_bgg_parser_enhanced.py
  backend/tests/test_services/test_bgg_service_enhanced.py
  backend/tests/test_services/test_cloudinary_service_complete.py
Due: backend

tests
  backend/tests/conftest.py
  backend/tests/test_services/test_bgg_service_enhanced.py
  backend/tests/test_services/test_game_service_complete.py
Due: none

test: Add enhanced bulk operations tests (Phase 2)
  backend/tests/test_api/test_bulk_enhanced.py
Due: none

update
  .claude/settings.local.json
Due: none

test: Add comprehensive frontend testing infrastructure (Phase 3)
  frontend/src/context/__tests__/StaffContext.test.jsx
  frontend/src/test/mockData.js
  frontend/src/test/testUtils.jsx
Due: frontend

fix: Skip hanging async tests in bulk_enhanced.py
  backend/tests/test_api/test_bulk_enhanced.py
Due: none

co mmit
  .claude/settings.local.json
Due: none

fix: Skip test_reimport_all_handles_large_dataset (hanging issue)
  backend/tests/test_api/test_bulk_enhanced.py
Due: none

test: Complete DashboardTab tests (26 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/DashboardTab.test.jsx
Due: none

test: Complete AddGamesTab tests (30 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/AddGamesTab.test.jsx
Due: none

test: Complete CategoriesTab tests (38 tests, all passing)
  frontend/src/components/staff/tabs/__tests__/CategoriesTab.test.jsx
Due: none

Path conditions:
  backend: any of: backend/, but not: **/__tests__/**, **/__mocks__/**, **/tests/**, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.spec.js, **/*.spec.jsx, **/venv/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**
  frontend: any of: frontend/src/, but not: **/__tests__/**, **/__mocks__/**, **/tests/**, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.spec.js, **/*.spec.jsx, **/venv/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**
