Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

fix: add pull --rebase before push in buy list workflow
  .github/workflows/fetch-buy-list-prices.yml
Due: none

feat: add cloudinary_url backfill script
  backend/scripts/README.md
  backend/scripts/__init__.py
  backend/scripts/backfill_cloudinary_urls.py
Due: backend

fix: correct import paths in backfill script for Render environment
  backend/scripts/README.md
  backend/scripts/backfill_cloudinary_urls.py
Due: backend

feat: add Cloudinary URL backfill button to Advanced Tools
  backend/api/routers/bulk.py
  frontend/src/api/client.js
  frontend/src/components/staff/AdminToolsPanel.jsx
Due: backend, frontend

feat: add comprehensive test coverage for missing files
  backend/tests/test_api/test_bulk.py
  backend/tests/test_scripts/test_backfill_cloudinary_urls.py
  frontend/src/api/__tests__/client.test.js
  frontend/src/components/staff/__tests__/AdminToolsPanel.test.jsx
Due: none

fix: add missing MagicMock import in test_bulk.py
  backend/tests/test_api/test_bulk.py
Due: none

fix: update AdminToolsPanel tests to check disabled state instead of clicking disabled buttons
  frontend/src/components/staff/__tests__/AdminToolsPanel.test.jsx
Due: none

fix: correct expansion filter to include all games except require-base expansions
  backend/services/game_service.py
Due: backend

fix: correct import paths and mock assertions in failing tests
  backend/tests/test_api/test_bulk.py
  backend/tests/test_scripts/test_backfill_cloudinary_urls.py
Due: none

fix: improve image-proxy handling for Cloudinary URLs and large images
  backend/api/routers/public.py
  backend/scripts/check_malformed_image_urls.py
Due: backend

fix: increase image-proxy rate limit to handle admin pages with many games
  backend/api/routers/public.py
Due: backend

fix: clean malformed BGG URLs instead of rejecting them
  backend/api/routers/public.py
Due: backend

feat: comprehensive Cloudinary image optimization and malformed URL fixes
  backend/api/routers/public.py
  backend/scripts/fix_malformed_image_urls.py
Due: backend

fix: remove premature Cloudinary URL optimization causing 404s
  backend/api/routers/public.py
Due: backend

docs: add comprehensive Cloudinary fallback analysis and verification script
  CLOUDINARY_FALLBACK_ANALYSIS.md
  backend/scripts/verify_cloudinary_setup.py
Due: backend

feat: add Cloudinary URL testing and diagnostic tools
  CHECK_CLOUDINARY_URLS.sql
  backend/scripts/test_cloudinary_url_generation.py
Due: none

fix: replace BGG __original URLs with allowed sizes to fix 400 Bad Request errors
  backend/scripts/fix_bgg_original_urls.py
Due: backend

feat: add SQL queries to diagnose database URL mismatches
  CHECK_DATABASE_IMAGE_URLS.sql
Due: none

fix: update getBGGImageVariant to handle new BGG URL format and avoid __original
  frontend/src/components/GameImage.jsx
  frontend/src/config/api.js
Due: frontend

fix: correct JSX syntax error in GameImage comment placement
  frontend/src/components/GameImage.jsx
Due: frontend

fix: resolve image loading issues with rate limiting and URL format handling
  backend/api/routers/bulk.py
  backend/main.py
  backend/services/game_service.py
Due: backend

fix: add missing asyncio import in main.py
  backend/main.py
Due: backend

feat: add script to clear cached Cloudinary URLs
  backend/scripts/clear_cloudinary_cache.py
Due: backend

fix: pass width/height params to Cloudinary for responsive images
  backend/api/routers/public.py
Due: backend

fix: transform __original URLs and detect /img/ malformed patterns
  backend/api/routers/public.py
  frontend/src/config/api.js
Due: backend, frontend

docs: add comprehensive image loading fix summary
  IMAGE_LOADING_FIX_SUMMARY.md
Due: none

fix: change default BGG image size from detail to medium
  frontend/src/config/api.js
Due: frontend

fix: add browser headers and use __md size for BGG image downloads
  backend/api/routers/public.py
  backend/services/image_service.py
  frontend/src/components/GameImage.jsx
  frontend/src/config/api.js
  test_url_handling.py
Due: backend, frontend

feat: resize large images and cache Cloudinary URLs in database
  backend/api/routers/public.py
  backend/requirements.txt
  backend/services/cloudinary_service.py
Due: backend

fix: correct model import from BoardGame to Game
  backend/api/routers/public.py
Due: backend

fix: improve image resizing to always handle files >10MB
  backend/services/cloudinary_service.py
Due: backend

fix: check uncompressed image size to prevent Cloudinary rejections
  backend/services/cloudinary_service.py
Due: backend

debug: add verbose logging to track image processing flow
  backend/services/cloudinary_service.py
Due: backend

plans
  IMAGE_LOADING_FIX_SUMMARY.md
  TO DO LIST.txt
  current_error_log.txt
  docs/performance/BEFORE_AFTER_COMPARISON.md
  docs/performance/COMPREHENSIVE_PERFORMANCE_REVIEW.md
  docs/performance/MONITORING_QUERIES.sql.md
  docs/performance/PHASE1_IMPLEMENTATION_PLAN.md
  docs/performance/QUICK_START_GUIDE.md
  docs/performance/README.md
Due: none

feat: Phase 1 performance optimizations (40-50% improvement)
  backend/alembic/versions/67525c3297b2_add_performance_indexes_phase1.py
  backend/api/routers/public.py
  backend/models.py
  backend/schemas.py
  frontend/src/components/public/SearchBox.jsx
Due: backend, frontend

fix: resolve schema validation errors in Phase 1 optimizations
  backend/schemas.py
Due: backend

test: update SearchBox tests to handle debouncing behavior
  frontend/src/components/public/__tests__/SearchBox.test.jsx
Due: none

fix: add expansions and base_game fields to GameDetailResponse
  backend/schemas.py
Due: backend

fix: wrap timer advances in act() for SearchBox tests
  frontend/src/components/public/__tests__/SearchBox.test.jsx
Due: none

fix: add computed expansion player count fields to GameDetailResponse
  backend/schemas.py
Due: backend
