Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fixes
  backend/api/routers/bulk.py
  backend/api/routers/buy_list.py
  backend/api/routers/health.py
  backend/api/routers/public.py
  backend/bgg_service.py
  backend/services/cloudinary_service.py
  backend/services/game_service.py
  backend/tests/test_api/test_security.py
  backend/tests/test_middleware/test_security.py
  backend/utils/error_handlers.py
Due: backend

fixes
  backend/api/routers/buy_list.py
  backend/api/routers/health.py
Due: backend

fixes
  backend/api/routers/bulk.py
  backend/api/routers/health.py
Due: backend

fixes
  backend/tests/test_api/test_buy_list_additional.py
  backend/tests/test_api/test_health.py
Due: none

more fixes
  backend/api/routers/admin.py
  backend/api/routers/public.py
  backend/bgg_service.py
  backend/services/bgg_parser.py
Due: backend

fixes
  .claude/settings.local.json
  backend/tests/test_api/test_security.py
  backend/tests/test_middleware/test_security.py
Due: none

test fixes
  backend/tests/test_api/test_security.py
  backend/tests/test_middleware/test_security.py
Due: none

settings updates
  .claude/settings.local.json
Due: none

Fix test_config.py assertions broken by config.py logging migration
  backend/tests/test_config.py
Due: none

Fix frontend test regressions from CodeQL unused-variable cleanup
  frontend/src/api/client.js
  frontend/src/components/__tests__/UpdateNotification.test.jsx
  frontend/src/components/public/__tests__/GameCardPublic.test.jsx
  frontend/src/components/staff/tabs/__tests__/AddGamesTab.test.jsx
Due: frontend

settings updated
  .claude/settings.local.json
Due: none

Remove remaining import.meta.env.DEV assignment in ErrorBoundary test
  frontend/src/components/__tests__/ErrorBoundary.test.jsx
Due: none

Fix py/log-injection: inline sanitization instead of helper function
  backend/api/routers/admin.py
  backend/bgg_service.py
  backend/services/game_service.py
Due: backend

Fix 30+ CodeQL alerts across production and test files
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/api/routers/buy_list.py
  backend/bgg_service.py
  backend/main.py
  backend/scripts/backfill_cloudinary_urls.py
  backend/scripts/verify_cloudinary_setup.py
  backend/services/game_service.py
  backend/tests/test_api/test_rate_limiting.py
  backend/tests/test_exceptions.py
  backend/tests/test_redis/test_redis_client.py
  backend/tests/test_utils/test_cache.py
  scripts/boardgame_labels.py
  scripts/fetch_all_sleeves.py
Due: backend

Fix remaining CodeQL alerts: unused vars, import issues, code quality
  backend/scripts/clear_cloudinary_cache.py
  backend/services/cloudinary_service.py
  backend/services/label_generator.py
  backend/tests/conftest.py
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_integration_admin_management.py
  backend/tests/test_api/test_integration_bgg_import.py
  backend/tests/test_api/test_integration_buy_list.py
  backend/tests/test_api/test_integration_search_filter.py
  backend/tests/test_api/test_load.py
  backend/tests/test_api/test_performance.py
  backend/tests/test_database/test_database.py
  backend/tests/test_services/test_bgg_parser.py
  backend/tests/test_services/test_cloudinary_service_complete.py
  backend/tests/test_services/test_game_service_complete.py
  backend/tests/test_services/test_image_service.py
  backend/tests/test_utils/test_cache.py
  scripts/test_sleeve_scraper.py
Due: backend

Fix CI failures introduced by CodeQL unused-import cleanup
  backend/tests/test_redis/test_redis_client.py
  backend/tests/test_services/test_bgg_service.py
Due: none

Fix remaining 44 CodeQL alerts + 3 CI test failures
  backend/alembic/versions/69e5f1b3d4e5_convert_json_to_jsonb.py
  backend/api/routers/printing.py
  backend/scripts/add_sleeve_support.py
  backend/scripts/export_buy_list.py
  backend/scripts/fix_wingspan_asia.py
  backend/services/cloudinary_service.py
  backend/services/game_service.py
  backend/services/image_service.py
  backend/services/label_generator.py
  backend/services/sleeve_scraper.py
  backend/test_cloudinary.py
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_database/test_database.py
  backend/utils/cache.py
  frontend/src/api/client.js
  frontend/src/components/__tests__/ErrorBoundary.test.jsx
  frontend/src/components/public/__tests__/SearchBox.test.jsx
  test_database_analysis.py
Due: backend, frontend

Restore inspect import in add_sleeve_support.py
  backend/scripts/add_sleeve_support.py
Due: backend

Fix all 18 remaining CodeQL alerts
  backend/api/routers/bulk.py
  backend/scripts/add_sleeve_support.py
  backend/scripts/clear_cloudinary_cache.py
  backend/scripts/fix_wingspan_asia.py
  backend/scripts/run_migrations.py
  backend/services/background_tasks.py
  backend/services/game_service.py
  backend/tests/conftest.py
  backend/tests/test_database/test_database.py
  backend/tests/test_redis/test_redis_client.py
  frontend/src/components/public/SearchBox.jsx
Due: backend, frontend

Fix final 7 CodeQL alerts
  backend/api/routers/bulk.py
  backend/scripts/run_migrations.py
  backend/shared/rate_limiting.py
  backend/tests/test_api/test_security.py
  backend/tests/test_middleware/test_security.py
  backend/utils/cache.py
Due: backend

Fix background_tasks.py: restore SessionLocal for test patching
  backend/services/background_tasks.py
Due: backend

Add re-import selected games feature to Manage Library tab
  backend/api/routers/bulk.py
  frontend/src/api/client.js
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: backend, frontend

Fix Priority 1 admin panel issues
  frontend/src/components/staff/GameEditModal.jsx
  frontend/src/components/staff/tabs/AdvancedToolsTab.jsx
  frontend/src/components/staff/tabs/BuyListTab.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
  frontend/src/context/StaffContext.jsx
Due: frontend

Fix AdvancedToolsTab tests after removing description-only sections
  frontend/src/components/staff/tabs/__tests__/AdvancedToolsTab.test.jsx
Due: none

fixes
  .claude/settings.local.json
  backend/.env.example
  backend/scripts/check_cloudinary.py
  backend/scripts/check_redis.py
  backend/scripts/debug_pagination.py
Due: backend

Fix frontend test mocks for BuyListTab and ManageLibraryTab
  frontend/src/components/staff/tabs/__tests__/BuyListTab.test.jsx
  frontend/src/components/staff/tabs/__tests__/ManageLibraryTab.test.jsx
Due: none

fixes
  .serena/project.yml
  backend/api/dependencies.py
  backend/api/routers/admin.py
  backend/api/routers/health.py
  backend/api/routers/public.py
  backend/bgg_service.py
  backend/config.py
  backend/main.py
  frontend/src/pages/PublicCatalogue.jsx
Due: backend, frontend

fix
  backend/api/routers/public.py
  backend/pytest.ini
Due: backend

updates
  backend/api/routers/public.py
  backend/config.py
Due: backend

Add sleeve fetch progress visibility and manual status controls
  backend/api/routers/sleeves.py
  frontend/src/api/client.js
  frontend/src/components/staff/AdminToolsPanel.jsx
  frontend/src/components/staff/GameEditModal.jsx
  frontend/src/components/staff/SleeveFetchStatus.jsx
  frontend/src/components/staff/SleevesListTable.jsx
  frontend/src/components/staff/__tests__/SleevesListTable.test.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: backend, frontend

Fix sleeve read/add functionality and apply backend security review fixes
  backend/api/routers/admin.py
  backend/api/routers/bulk.py
  backend/api/routers/buy_list.py
  backend/api/routers/public.py
  backend/api/routers/sleeves.py
  backend/bgg_service.py
  backend/middleware/csrf_protection.py
  backend/middleware/security.py
  backend/services/sleeve_scraper.py
  backend/tests/test_api/test_bulk.py
  backend/tests/test_api/test_bulk_enhanced.py
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_api/test_buy_list_additional.py
  backend/tests/test_api/test_integration_bgg_import.py
  frontend/src/api/client.js
  frontend/src/components/staff/SleevesListTable.jsx
  scripts/fetch_all_sleeves.py
Due: backend, frontend

Fix Add Sleeve form causing a full page reload and lost input
  frontend/src/components/staff/SleevesListTable.jsx
Due: frontend

updates
  .claude/settings.local.json
  .serena/project.yml
  data/ag-game-ids.csv
  data/ck_debug.py
  data/ck_fetch_compare.xlsx
  data/fetch_examples.csv
  data/mana_meeples_ag_game_ids.csv
  data/scryfall_lookup.py
  design_handoff_library_mobile_redesign/Library Current (Mobile).dc.html
  design_handoff_library_mobile_redesign/Library Redesign (Mobile).dc.html
  design_handoff_library_mobile_redesign/README.md
  design_handoff_library_mobile_redesign/assets/aftergame_icon.webp
  design_handoff_library_mobile_redesign/assets/logo192.png
  design_handoff_library_mobile_redesign/screenshots/01-redesign.png
  design_handoff_library_mobile_redesign/screenshots/02-redesign.png
  design_handoff_library_mobile_redesign/screenshots/03-redesign.png
  design_handoff_library_mobile_redesign/screenshots/cards.png
  design_handoff_library_mobile_redesign/support.js
  frontend/package-lock.json
Due: none

Implement mobile library redesign (quick-picks, shelf picker, filter sheet)
  .claude/launch.json
  .claude/settings.local.json
  backend/api/routers/public.py
  backend/services/game_service.py
  frontend/src/components/common/SkipNav.jsx
  frontend/src/components/public/FilterSheet.jsx
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/public/GameCardSkeleton.jsx
  frontend/src/components/public/ShelfPicker.jsx
  frontend/src/components/public/__tests__/GameCardPublic.test.jsx
  frontend/src/components/public/game-card/GameCardStats.jsx
  frontend/src/index.css
  frontend/src/pages/PublicCatalogue.jsx
  frontend/src/pages/__tests__/PublicCatalogue.test.jsx
  frontend/src/utils/categoryStyles.js
  frontend/src/utils/gameFormatters.js
  frontend/src/utils/libraryFilters.js
Due: backend, frontend

Tune quick-pick thresholds and add staff curation panel
  backend/alembic/versions/c3d9f0a1b2e7_add_excluded_quick_picks_column.py
  backend/api/routers/admin.py
  backend/models.py
  backend/services/game_service.py
  backend/tests/test_api/test_admin.py
  backend/tests/test_services/test_game_service.py
  backend/utils/helpers.py
  frontend/src/api/client.js
  frontend/src/components/staff/tabs/QuickPicksTab.jsx
  frontend/src/components/staff/tabs/__tests__/QuickPicksTab.test.jsx
  frontend/src/pages/StaffView.jsx
  frontend/src/utils/libraryFilters.js
Due: backend, frontend

Fix players filter matching games via unrelated expansions
  backend/services/game_service.py
  backend/tests/test_services/test_game_service_complete.py
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/__tests__/**, **/__mocks__/**, **/tests/**, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.spec.js, **/*.spec.jsx, **/venv/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**
  frontend: any of: frontend/src/, but not: **/__tests__/**, **/__mocks__/**, **/tests/**, **/test_*.py, **/*.test.js, **/*.test.jsx, **/*.spec.js, **/*.spec.jsx, **/venv/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**
