Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

update
  CHECK_CLOUDINARY_URLS.sql
  CHECK_DATABASE_IMAGE_URLS.sql
  CLOUDINARY_FALLBACK_ANALYSIS.md
Due: none

fix: convert text columns to jsonb before creating GIN indexes
  backend/alembic/versions/67525c3297b2_add_performance_indexes_phase1.py
Due: backend

fix: add image_url field alias to Phase 1 response schemas
  backend/schemas.py
Due: backend

fix: measure actual uncompressed image size instead of estimating
  backend/services/cloudinary_service.py
Due: backend

fix: add defensive URL sanitization in image proxy endpoint
  backend/api/routers/public.py
Due: backend

fix: resolve image proxy warnings and compression failures
  backend/schemas.py
  backend/services/cloudinary_service.py
Due: backend

feat: improve image compression with multi-pass algorithm
  backend/services/cloudinary_service.py
Due: backend

feat: optimize with WebP compression and proactive Cloudinary uploads
  backend/api/routers/admin.py
  backend/services/cloudinary_service.py
Due: backend

fix: handle invalid image data gracefully in tests
  backend/services/cloudinary_service.py
Due: backend

perf: use Cloudinary URLs directly to eliminate proxy overhead
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/staff/LibraryCard.jsx
  frontend/src/components/staff/SearchBGGPanel.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
  frontend/src/config/api.js
  frontend/src/pages/GameDetails.jsx
Due: frontend

fix: correct expansion_type filter typo and sync category counts
  backend/services/game_service.py
Due: backend

doc updates
  PRIORITIZED_IMPROVEMENT_ROADMAP.md
  TO DO LIST.txt
Due: none

clean up
  7_wonders_api_response.xml
  docs/admin/ALEMBIC_MIGRATION_GUIDE.md
  docs/admin/FRONTEND_TEST_GUIDE.md
  docs/admin/SLEEVE_FETCH_SETUP.md
  docs/admin/TESTING.md
  docs/archive/DEPLOYMENT_GUIDE.md
  docs/archive/LIBRARY_DEPLOYMENT_GUIDE.md
  docs/deployment/CLOUDINARY_SETUP.md
  docs/deployment/REDIS_SETUP.md
  test_url_handling.py
Due: none

Fix player count display on game cards by correcting field names
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/public/__tests__/GameCardPublic.test.jsx
  frontend/src/components/staff/LibraryCard.jsx
  frontend/src/components/staff/SearchBGGPanel.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
  frontend/src/pages/GameDetails.jsx
  frontend/src/pages/__tests__/GameDetails.test.jsx
Due: frontend

Fix SearchBox debounce test failures by removing searchTerm from dependency array
  frontend/src/components/public/SearchBox.jsx
Due: frontend

Fix search flickering by separating initial load from filter updates
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

Fix JSX syntax error - remove extra fragment tag
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

Fix search flickering root cause - remove circular dependency
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

Simplify admin image fetching to focus on cloudinary_url
  frontend/src/components/staff/tabs/BuyListTab.jsx
  frontend/src/components/staff/tabs/ManageLibraryTab.jsx
Due: frontend

Fix buy list API to return cloudinary_url and image_url
  backend/api/routers/buy_list.py
Due: backend

Fix search flickering by removing circular dependency
  frontend/src/components/public/SearchBox.jsx
Due: frontend

Fix search flickering completely - external updates + batching
  frontend/src/components/public/SearchBox.jsx
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

e2e
  e2e/.github/workflows/playwright.yml
  e2e/.gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  e2e/tests/example.spec.js
Due: none

Fix Playwright installation setup in e2e directory
  e2e/README.md
  e2e/package.json
Due: none

Convert Playwright tests from TypeScript to JavaScript
  e2e/playwright.config.js
  e2e/tests/admin-login-management.spec.js
  e2e/tests/bgg-import-workflow.spec.js
  e2e/tests/example.spec.js
  e2e/tests/game-detail-view.spec.js
  e2e/tests/public-browsing.spec.js
Due: none

Update README to reflect JavaScript test files
  e2e/README.md
Due: none

Add puzzle piece emoji to complexity rating for better visual distinction from star rating
  frontend/src/components/public/GameCardPublic.jsx
Due: frontend

Fix webServer config and update setup documentation
  e2e/README.md
  e2e/playwright.config.js
Due: none

Fix security vulnerabilities in npm dependencies
  frontend/package-lock.json
Due: none

update
  frontend/package-lock.json
Due: none

Fix E2E test failures by enabling dev server auto-start
  e2e/playwright.config.js
  frontend/package-lock.json
Due: none

Add root-level Playwright configuration for VS Code integration
  package-lock.json
  package.json
Due: none

updates
  backend/tests/test_api/test_integration_buy_list.py
Due: none

Update game card complexity layout to 2 lines
  frontend/src/components/public/GameCardPublic.jsx
Due: frontend

Fix game card data field references
  frontend/src/components/public/GameCardPublic.jsx
  frontend/src/components/staff/LibraryCard.jsx
Due: frontend

Fix incorrect field names in GameDetails page
  frontend/src/pages/GameDetails.jsx
Due: frontend

Add helpful fallback message for missing game descriptions
  frontend/src/pages/GameDetails.jsx
Due: frontend

Add description and designers to game list response
  backend/schemas.py
Due: backend

Fix buy list integration tests to match actual API
  backend/tests/test_api/test_integration_buy_list.py
Due: none

Fix buy list integration tests to use correct admin authentication
  backend/tests/test_api/test_integration_buy_list.py
Due: none
