Repository muppetbrown/mana_meeples_boardgame_list: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 30%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/tests/**"
  - "**/test_*.py"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/venv/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"

sync
  .serena/project.yml
Due: none

sleeve to order fix
  backend/services/sleeve_matching.py
Due: backend

fix
  .github/workflows/fetch_sleeves.yml
  .serena/project.yml
Due: none

fix
  .github/workflows/fetch_sleeves.yml
  backend/requirements-sleeves.txt
Due: backend

fix
  .github/workflows/ci.yml
Due: none

fix2
  .github/workflows/codeql.yml
Due: none

fix sleeves workflow
  .github/workflows/fetch_sleeves.yml
Due: none

label fix
  .serena/project.yml
  backend/services/bgg_parser.py
Due: backend

fixes
  .claude/settings.local.json
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

fix2
  .github/workflows/ci.yml
Due: none

fix3
  .github/workflows/ci.yml
Due: none

fix game_type
  backend/tests/test_services/test_bgg_parser.py
  backend/tests/test_services/test_bgg_parser_enhanced.py
  backend/tests/test_services/test_bgg_service.py
Due: none

vite confvig fix
  frontend/vite.config.js
Due: none

text fix
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

dep
  .github/dependabot.yml
Due: none

text fix
  frontend/src/components/public/SearchBox.jsx
  frontend/src/components/public/SortSelect.jsx
Due: frontend

mobile fix
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

fix
  .github/workflows/codeql.yml
Due: none

recent filter update
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

recent button
  frontend/src/pages/PublicCatalogue.jsx
Due: frontend

sleeve product update
  backend/api/routers/sleeves.py
  backend/models.py
  backend/services/sleeve_matching.py
  frontend/src/components/staff/tabs/SleeveInventoryTab.jsx
Due: backend, frontend

data fixes
  backend/api/routers/admin.py
  backend/api/routers/buy_list.py
  frontend/src/components/staff/tabs/BuyListTab.jsx
Due: backend, frontend

change
  backend/services/game_service.py
Due: backend

test fixes
  backend/tests/test_api/test_buy_list.py
  backend/tests/test_api/test_buy_list_additional.py
Due: none

test fixes
  backend/tests/test_api/test_buy_list.py
Due: none

code quality
  backend/api/routers/buy_list.py
  frontend/src/config/api.js
Due: backend, frontend

variable fixes
  backend/alembic/versions/08f412b7ff6b_add_sleeve_is_sleeved_field.py
  backend/alembic/versions/67525c3297b2_add_performance_indexes_phase1.py
  backend/alembic/versions/68d4e9a1b2c3_add_fulltext_search_index.py
  backend/alembic/versions/69e5f1b3d4e5_convert_json_to_jsonb.py
  backend/alembic/versions/6bb2f32fe517_add_cloudinary_url_column.py
  backend/alembic/versions/a1b2c3d4e5f6_add_sleeve_products_table.py
  backend/alembic/versions/a879cc066239_initial_schema_baseline.py
  backend/alembic/versions/f37582e531b4_add_is_sleeved_column_to_boardgames_.py
  backend/alembic/versions/remove_thumbnail_columns.py
Due: backend

fix
  backend/api/routers/buy_list.py
Due: backend

more fix
  backend/config.py
  backend/services/bgg_parser.py
  backend/test_cloudinary.py
Due: backend

playwright fix
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .gitignore
Due: none

better testing
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix2
  backend/bgg_service.py
Due: backend

cleaning
  frontend/public/service-worker.js
  frontend/src/config/api.js
Due: frontend

cleaning2
  backend/api/routers/buy_list.py
Due: backend

updates
  backend/scripts/verify_cloudinary_setup.py
  frontend/public/service-worker.js
Due: backend

Select alert #4 Incomplete URL substring sanitization High
  backend/api/routers/public.py
  backend/scripts/check_malformed_image_urls.py
  backend/scripts/verify_cloudinary_setup.py
  backend/services/game_service.py
  backend/tests/test_api/test_image_proxy.py
  backend/tests/test_api/test_public.py
  backend/tests/test_services/test_cloudinary_service_complete.py
  backend/tests/test_services/test_image_service.py
Due: backend

more cleanig
  backend/services/bgg_parser.py
  frontend/src/components/staff/tabs/__tests__/AddGamesTab.test.jsx
Due: backend

more
  backend/api/routers/health.py
Due: backend

test fix
  backend/tests/test_api/test_security.py
  backend/tests/test_config.py
  backend/tests/test_middleware/test_security.py
Due: none

information exposure
  backend/api/routers/bulk.py
  backend/api/routers/buy_list.py
  backend/api/routers/health.py
Due: backend
